<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <style>
        * {
            font-family: "helvetica neue";
        }

    </style>
</head>
<body class="p-4">
<h1 class="font-bold text-center text-3xl font-extrabold text-gray-900 tracking-tight mt-4 mb-4">
    Questionnaire pour rejoindre les transalpins
</h1>

<hr class="mb-4 mt-4"/>

<div class="w-full">
    <h2 class="mt-4 mb-4 text-lg font-extrabold text-gray-900 tracking-tight">J'en dis un peu sur
        moi</h2>
</div>

<div class="align-middle">
    <div class="w-1/12 inline-block text-gray-500">Email</div>
    <div class="w-4/12 inline-block "><input name="email" type="text"
                                             class="w-full p-1 border-gray-300 rounded-md border">
    </div>
    <div class="w-1/12 inline-block"></div>
    <div class="w-1/12 inline-block  text-gray-500">Téléphone</div>
    <div class="w-4/12 inline-block "><input name="phone" type="text"
                                             class="w-full p-1 border-gray-300 rounded-md border">
    </div>
</div>
<div class="align-middle mt-2">
    <div class="w-1/12 inline-block text-gray-500">Prénom</div>
    <div class="w-4/12 inline-block"><input name="firstName" type="text"
                                            class="w-full p-1 border-gray-300 rounded-md border">
    </div>
    <div class="w-1/12 inline-block"></div>
    <div class="w-1/12 inline-block text-gray-500">Nom</div>
    <div class="w-4/12 inline-block"><input name="lastName" type="text"
                                            class="w-full p-1 border-gray-300 rounded-md border">
    </div>
</div>
<div class="align-middle mt-2">
    <div class="w-4/12 inline-block text-gray-500">Comment nous as tu connus ?</div>
    <div class="w-7/12 inline-block"><input name="lastName" type="text"
                                           class="w-full p-1 border-gray-300 rounded-md border">
    </div>
</div>
<div class="align-middle mt-2">
    <div class="w-10/12 inline-block text-gray-500">En cochant cette case tu acceptes que ces informations soient visibles par les membres de l'association « les Transalpins » ne faisant pas partie du bureau</div>
    <div class="w-1/12 inline-block"><input type="checkbox" name="acceptance"
                                            class="form-tick h-6 w-6 border border-gray-300 rounded-md">
    </div>
</div>

<p class="mt-1 text-gray-500">De combien de personnes est composé mon foyer, prénom et leur âge ?</p>
<table class="table-fixed w-full">
    <thead>
    <tr>
        <th class="w-3/4">Prénom</th>
        <th class="w-1/4">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="border border-light-blue-500 text-light-blue-600 font-medium"><input type="text"
                                                                                        class="w-full"/>
        </td>
        <td class="border border-light-blue-500 text-light-blue-600 font-medium"><input type="text"
                                                                                        class="w-full"/>
        </td>
    </tr>
    <tr>
        <td class="border border-light-blue-500 text-light-blue-600 font-medium"><input type="text"
                                                                                        class="w-full"/>
        </td>
        <td class="border border-light-blue-500 text-light-blue-600 font-medium"><input type="text"
                                                                                        class="w-full"/>
        </td>
    </tr>
    <tr>
        <td class="border border-light-blue-500 text-light-blue-600 font-medium"><input type="text"
                                                                                        class="w-full"/>
        </td>
        <td class="border border-light-blue-500 text-light-blue-600 font-medium"><input type="text"
                                                                                        class="w-full"/>
        </td>
    </tr>
    <tr>
        <td class="border border-light-blue-500 text-light-blue-600 font-medium"><input type="text"
                                                                                        class="w-full"/>
        </td>
        <td class="border border-light-blue-500 text-light-blue-600 font-medium"><input type="text"
                                                                                        class="w-full"/>
        </td>
    </tr>
    <tr>
        <td class="border border-light-blue-500 text-light-blue-600 font-medium"><input type="text"
                                                                                        class="w-full"/>
        </td>
        <td class="border border-light-blue-500 text-light-blue-600 font-medium"><input type="text"
                                                                                        class="w-full"/>
        </td>
    </tr>
    <tr>
        <td class="border border-light-blue-500 text-light-blue-600 font-medium"><input type="text"
                                                                                        class="w-full"/>
        </td>
        <td class="border border-light-blue-500 text-light-blue-600 font-medium"><input type="text"
                                                                                        class="w-full"/>
        </td>
    </tr>
    </tbody>
</table>

<hr class="mb-4 mt-4"/>

<h2 class="mt-4 mb-4 text-lg font-extrabold text-gray-900 tracking-tight">Quelle est ma raison
    d'être ? Quelles sont mes motivations pour rejoindre ce projet ?</h2>

<div class="grid grid-cols-2 gap-3 align-middle">
    <div class="col-span-2 mt-1 text-gray-500">Qu'est-ce qui me motive à créer ou à m'engager dans un projet d'Oasis ?</div>
    <div class="col-span-2"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
    <div class="col-span-2 mt-1 text-gray-500">Quelles sont les valeurs essentielles que j'aimerais vivre : les valeurs non
        négociables, c-a-d dont l'absence me ferait perdre son sens au projet et ma
        motivation à y participer ?
    </div>
    <div class="col-span-1 mt-1 text-gray-500">Valeurs humaines</div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
    <div class="col-span-1 mt-1 text-gray-500">Autres valeurs</div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
    <div class="col-span-1 mt-1 text-gray-500">Qu’est-ce qui m'attire dans le projet des transalpins ?
    </div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
    <div class="col-span-1 mt-1 text-gray-500">Qu’est-ce qui me questionne dans ce projet ?</div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
</div>

<h2 class="mt-4 mb-4 text-lg font-extrabold text-gray-900 tracking-tight">Suis-je prêt.e à
    m'investir dans ce projet ?</h2>
<div class="grid grid-cols-2 gap-3 align-middle">
    <div class="col-span-2 mt-1 text-gray-500">Que suis-je prêt.e à lui apporter ? <small>(En plus de
            ce que je peux apporter dans la vie quotidienne, je développe ici des projets
            professionnels/rémunérateurs ou autre que je souhaiterais mettre en place en marge de
            l'oasis et un exemple de fonctionnement).</small></div>
    <div class="col-span-2"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
    <div class="col-span-1 mt-1 text-gray-500">En tant qu’habitant.e, suis-je prêt.e à investir financièrement ? Et combien ?
    </div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
    <div class="col-span-1 mt-1 text-gray-500">Suis-je prêt.e à payer un loyer ? À quelle hauteur ?</div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
</div>

<hr class="mb-4 mt-4"/>

<h2 class="mt-4 mb-4 text-lg font-extrabold text-gray-900 tracking-tight">Ma vie au quotidien</h2>
<p class="mt-1 text-gray-500">Des questions encore plus concrètes : A quoi ressemblera ma vie quand
    je vivrai là ?</p>

<div class="grid grid-cols-2 gap-3 align-middle">
    <div class="col-span-1 mt-1 text-gray-500">Je décris ma journée type</div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
    <div class="col-span-1 mt-1 text-gray-500">Je décris mon habitation</div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
    <div class="col-span-1 mt-1 text-gray-500">Je décris les espaces communs</div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
    <div class="col-span-1 mt-1 text-gray-500">Je décris les relations au sein de l'oasis</div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
</div>

<hr class="mb-4 mt-4"/>

<h2 class="mt-4 mb-4 text-lg font-extrabold text-gray-900 tracking-tight">Mes savoir-faire et
    savoir-être</h2>
<div class="grid grid-cols-2 gap-3 align-middle">
    <div class="col-span-1 mt-1 text-gray-500">Est-ce que je connais la CNV ? Si oui quelle est mon expérience ?
    </div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
    <div class="col-span-1 mt-1 text-gray-500">Est-ce que je connais la gouvernance partagée ? Si oui, quelle est mon expérience ?
    </div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
    <div class="col-span-1 mt-1 text-gray-500">Quels sont les savoir-faire/être que je peux amener au projet
    </div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
    <div class="col-span-1 mt-1 text-gray-500">Quelles sont mes limites ?</div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
    <div class="col-span-2 mt-1 text-gray-500">Quelles sont mes disponibilités durant la période de montage du projet ? Et mes disponibilités en semaine ?</div>
    <div class="col-span-2"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
    <div class="col-span-1 mt-1 text-gray-500">Serais-je disposé.e à rencontrer des élus locaux, des banquiers, architectes… ?
    </div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
    <div class="col-span-1 mt-1 text-gray-500">Dans quel domaine utile au projet suis-je prêt.e à me former ?
    </div>
    <div class="col-span-1"><textarea class="w-full rounded-md border border-gray"
                                      rows="8"></textarea></div>
</div>

<p><small>Formulaire créé par l'association "Les translapins" sous licence <a
                href="https://creativecommons.org/licenses/by-nc-sa/3.0/fr/">CC BY-NC-SA</a></small>
</p>
</body>
</html>
