
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/node_modules
/coverage
/dist
yarn-error.log
/private
.eslintcache

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
!config/jwt/
###< lexik/jwt-authentication-bundle ###

.idea/
.vscode/
node_modules
*.log*
.nuxt
.nitro
.cache
