parameters:
    emailConfigs:
        admin:
            name: 'Admin'
            email: '%env(EMAIL_ADMIN)%'
        newsletter:
            name: 'Newsletter'
            email: '%env(EMAIL_NEWSLETTER)%'
        no-reply:
            name: 'Ne pas répondre'
            email: '%env(EMAIL_NO_REPLY)%'
        contact:
            name: 'Ne pas répondre'
            email: '%env(EMAIL_CONTACT)%'
    app_scheme: '%env(SCHEME)%'
    app_domain: '%env(DOMAIN)%'

services:

    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'

    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    App\Swagger\SwaggerDecorator:
        decorates: 'api_platform.swagger.normalizer.documentation'
        arguments: ['@App\Swagger\SwaggerDecorator.inner']
        autoconfigure: false

    App\Doctrine\PageExtension:
        tags:
            - { name: api_platform.doctrine.orm.query_extension.collection }

    App\EventSubscriber\AuthSubscriber:
        arguments:
            $env: '%kernel.environment%'
            $domain: '%app_domain%'

    App\Emails\EmailFactory:
        arguments:
            $emailConfigs: '%emailConfigs%'
