<p>Merci {% if contact.firstName %}{{ contact.firstName }} {% endif %}d'avoir contacté les transalpins, nous te recontacterons aussi rapidement que possible.</p>
<p>Pour rappel, voici le message que tu nous as envoyé</p>
<p><small>{{ contact.content }}</small></p>
<p>A bientôt !</p>

<p><small>PS: Ce message n'est pas très élaboré graphiquement, le développement est en cours ;p</small></p>
